/* --------------------------------------------Some common css --------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    /* background-color: #f4f4f4; Set a background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

ul,li {
    list-style-type: none;
    /* list-style-type: disc; Unordered list with bullet points */
    /* list-style-position: outside; Marker outside the list item box */
    /* list-style-image: url('bullet.png'); Custom bullet image */
    /* list-style: square inside url('bullet.png'); Square bullets inside the list item box with a custom image */
    /* display: inline-block; Displays list items inline with block layout */
}

ol {
    /* list-style-type: decimal; Ordered list with numbers */
}

a{
    text-decoration: none;
}


/*-------------------------------------------- common media query------------------------------------------------- */
@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for screens between 768px and 1024px wide */
}

@media screen and (orientation: landscape) {
    /* Styles for landscape orientation */
}

@media screen and (orientation: portrait) {
    /* Styles for portrait orientation */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Styles for high-resolution displays (Retina) */
}

@media print {
    /* Styles for printing */
}

@media screen and (prefers-color-scheme: dark) {
    /* Styles for dark mode */
}

@media screen and (aspect-ratio: 16/9) {
    /* Styles for screens with a 16:9 aspect ratio */
}

@media (hover: hover) and (pointer: fine) {
    /* Styles for devices that support hover and have a fine pointer */
}

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    /* Styles for specific devices like iPhone 5/SE */
}

/* ------------------------------------------------------------------------------------- */



/* animation loading */
.center-body {
	width: 100%;
	/* height: 100vh; */
    position: absolute;
    top: 50%;
    left: 45%;
}
body {
	background-color: #2b3c42;
}
.loader-circle-11 {
	position: relative;
	width: 70px;
	height: 70px;
	transform-style: preserve-3d;
	perspective: 400px;
}
.loader-circle-11 .arc {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-bottom: 5px solid #f00;
}
.loader-circle-11 .arc:nth-child(1) {
	animation: rotate1 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(2) {
	animation: rotate2 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(3) {
	animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
	animation-delay: -0.8s;
}
.loader-circle-11 .arc:nth-child(2) {
	animation-delay: -0.4s;
}
.loader-circle-11 .arc:nth-child(3) {
	animation-delay: 0s;
}
@keyframes rotate1 {
	from {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	to {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
	}
}
@keyframes rotate2 {
	from {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}
	to {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
	}
}
@keyframes rotate3 {
	from {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}
	to {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
	}
}
.hidden {
    display: none;
}





/* ------------------------------------------topbar & navbar */
.language, .currency{
    background-color: rgba(9, 183, 231, 0.726); /* Background color with opacity */
    backdrop-filter: blur(10px); /* Background blur */
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
    color: yellow;
    font-size: 15px;
}

.language img{
    z-index: 6756;
}

.superNav i{
    color: #FFD43B;
    font-size: 15px;
    animation: drop 1s ease forwards ;
    animation-delay: 5s;
}
@keyframes drop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


.mobNo , .mail{
    color: white;
}
.superNav {
    font-size: 13px;
    /* background-color: rgb(13, 10, 253); */
}

@media screen and (max-width:540px) {
    .centerOnMobile {
         text-align: center
    }
}
.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */

/* --------------------------------------------------------logo animation */
.css-text-mask {
	font-size: 25px;
	font-family: Arial Black, Gadget, sans-serif;
	font-weight: bold;
	background-image: url('https://img.freepik.com/premium-photo/abstract-bokeh-background_996449-1641.jpg?w=900');
	background-position: 0px 0px;
	-webkit-animation: animatedBackground 10s linear infinite normal;
	-webkit-text-stroke-width: .5px;
	/* -webkit-text-stroke-color: #2907e6; */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0 }
	100% { background-position: 500px 0 }
}

.nav-link{
    color:white
}

.login1{
    border: .1px solid rgb(231, 228, 228);
    margin-right: 5px;
    padding: 3px 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Background color with opacity */
    backdrop-filter: blur(10px); /* Background blur */
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
    color: white;
}

@media screen and (max-width: 996px) {
    .lo{
         width: 80px;
         text-align: center;
    }    /* Styles for screens up to 768px wide */
}


/* banner-------------- */
.banner{
    border: 1px solid #3B71CA;
    padding-top: 40px;
}

.banner h1{
    font-weight: 900;
    font-size: 50px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: yellow;
    -webkit-text-fill-color: #ffffff;
    background-color: transparent;
    /* font-family: Impact, Charcoal, sans-serif; */
}

.banner p{
    color: white;
    font-size: 23px;
}




.search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .3fr; /* Defines the columns and their sizes */
    grid-template-rows: auto; /* Defines the rows and their sizes */
    gap: 0px;
    /* border: 2px solid red; */
    padding: 10px;
    position: relative;
}

.search input[type="text"] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 40px;
    margin-right: 10px; /* Add some space between inputs */
}

.search input[type="text"]{
    background: url('../asset/search-container/double-bed.png') no-repeat 10px center; /* Set background image */
        background-size: 25px;
        background-color: white;
        /* padding-left:40px ; */
}

.search input[type="date"]{
    background: url('../asset/search-container/schedule.png') no-repeat 10px center; /* Set background image */
        background-size: 25px;
        background-color: white;
        /* padding-left:40px ; */
}
.search .dropp{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white !important;
    background-position: 10px 10px; 
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px;
    margin-right: 10px; 
    background: url('../asset/search-container/user.png') no-repeat 10px center; /* Set background image */
    background-size: 25px;
    /* color: black; */
}
.dropp li a{
    z-index: 45647;
    color: black;
}
button[type="submit"] {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Media query for small devices */
@media (max-width: 768px) {
    .search {
        grid-template-columns: 1fr; /* Display inputs in a single column */
        grid-template-rows: auto auto auto; /* Adjust row sizes */
      
    }

    .search input[type="text"],
    .search input[type="date"] {
        width: 100%;
        margin-bottom: 10px; /* Add space between inputs */
    }
}

/* choose Person */
#choose-container {
    display: none; /* Hide the choose-container by default */
    width: 230px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

 .choose-person input[type="number"] {
    width: 50px;
    text-align: center;
    
  }

 .choose-person input[type="text"] {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
  }

 .choose-person button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }

  .choose-person button:hover {
    background-color: #0056b3;
  }

  .choose-person{
    position: absolute;
    right: 17%;
    bottom: 100;
    z-index: 67678;
  }


  /* <!-- looking for flight --> */

  /* <!-- offer corosoul --> */
  /* <!-- Browse by property type --> */
/* <!-- Trending destinations grid --> */
/* <!-- Explore India corosoul --> */
/* <!-- Quick and easy trip planner multitab corosul --> */
/* <!-- Get inspiration for your next trip blog --> */
/* <!-- Stay at our top unique properties section --> */
/* <!-- Homes guests love corosul --> */
/* <!-- Get instant discounts section --> */
/* <!-- Destinations we love section multi tab --> */
/* <!-- suscribe Email --> */
/* <!-- footer --> */

.new_footer_area {
    background: #fbfbfd;
   
}


.new_footer_top {
    padding: 30px 0px 270px;
    position: relative;
      overflow-x: hidden;
      border: 2px solid red;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    /* padding-bottom: 0px; */
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    /* padding: px 0px; */
    border: 2px solid red;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}


/* <!-- our partner --> */